@import "tailwindcss";

:root {
  --btn-bg: #111827;
  --btn-text: #fff;
}

.bg-gradient {
  @apply from-purple-500 to-pink-400 bg-linear-to-br;
}

@theme {
  --animate-fade-in: fade-in 0.6s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
