@import "tailwindcss";

:root {
  --btn-bg: #111827;
  --btn-text: #fff;
}

.input {
  @apply w-full border rounded p-2 text-sm;
}

.btn {
  @apply inline-block px-4 py-2 rounded shadow text-white;
  background: var(--btn-bg);
}

.btn-outline {
  @apply inline-block px-4 py-2 rounded border;
}
